.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(220, 219, 219);
    z-index: 100;
    margin-right: 20px;

}

.left-section {
    
    display:flex;
    
    
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo {
    height: 20px;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.search-bar {
    flex: 1;
    height: 35px;
    font-size: 16px;
    border: 1px solid rgb(196, 196, 196);
    padding-left: 12px;
    box-shadow: inset 1px 2px 5px  rgb(0, 0, 0, 0.015);
    width: 0;
    border-radius: 2px;
    
    
}

.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
    color: rgb(151, 148, 148);
    
}

.search-button {
    height: 39px;
    width: 60px;
    background-color: (247, 247, 247);
    border-color: rgb(209, 206, 206);
    border-width: 1px;
    border-style: solid;
    margin-left: -1px;
    margin-right: 10px;
}




.search-icon {
    height: 25px;
    
    
}

.voice-search-button {
    height: 39px;
    width: 40px;
    background-color: rgb(246, 246, 246);
    border-radius: 20px;
    border: none;
}

.voice-search-icon {
    height: 24px;
}



.voice-search-button:hover .tooltip
{
     opacity: 0.9;
}



.right-section {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.upload-icon {
    height: 24px;
}

.youtube-apps-icon {
    height: 24px;
}

.notifications-icon {
    height: 24px;
}

.notification-icon-container {
    position: relative;
}
 .notification-count {
    position: absolute;
    background-color: rgb(210, 5, 5);
    color: white;
    font-family: Roboto, Arial;
    font-size: 10px;
    top: -3px;
    right: -7px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    
}

.current-user-picture {
    height: 34px;
    border-radius: 17px;
}

.search-button, .voice-search-button, .upload-icon-container,
.youtube-apps-icon-container, .notification-icon-container,
.current-user-picture-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
}


.search-button .tooltip, .voice-search-button .tooltip ,
.upload-icon-container .tooltip, .youtube-apps-icon-container .tooltip,
.notification-icon-container .tooltip{
    position: absolute;
    font-family: Roboto, Arial;
    background-color: rgb(94, 93, 93);
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -49px;
    opacity: 0;
    transition: 0.15s;
    pointer-events: none;
}

.search-button:hover .tooltip, .voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip, 
.youtube-apps-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip {
    opacity: 0.9;
    
     
}